body{
    background-color: #A66423
  }
  header{
    position: absolute;
    width: 1440px;
    height: 244px;
    left: 0px;
    top: 0px;
    
    background: #2C7521;
  }
  
  nav li{
    display: inline-block;
    margin: 0 0 0 330px;
    text-transform: uppercase;
  }
  
  nav a:hover{
  color: #000000;
  text-decoration: underline;
  }
  
  .titulo{
    position: absolute;
width: 1065px;
height: 65px;
left: 263px;
top: 76px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
  }
  
  h1{
    font-family: inherit; text-align: center; color:#000000; border: 10px solid #502901;
  }
  
  p{
    font-family: monospace; font-size: 30px; color: #000000; text-align: center; border: 10px solid #502901;
  }
  
  ul {
    top: 200px;
  font-size: 30px;
  }

  .logoimg{
    position: absolute;
    width: 220px;
    height: 220px;
    Left: 0px;
    top: 0px;
    }

    .ciculo{
      width: 35%;
    margin-left: 17%;
    }

.gráfico{
  width: 40%;
  margin-left: 17%;
}

iframe{
  width: 29%;
  margin-left: 35%;
}