body{
    background-color: #A66423
  }
  header{
    background-color: #2C7521
  }
  
  nav li{
    display: inline-block;
    margin: 0 0 0 200px;
    text-transform: uppercase;
  }
  
  nav a:hover{
  color: #000000;
  text-decoration: underline;
  }
  
  .titulo{font-size: 60px; color: #000000; text-align: center;margin-top: -7%}
  
  h1{
    font-family: inherit; text-align: center; color:#000000; border: 10px solid #502901;
  }
  
  p{
    font-family: monospace; font-size: 30px; color: #000000; text-align: center; border: 10px solid #502901;
  }
  
  ul {
    top: 200px;
  font-size: 30px;
  }

  .logoimg{
    width: 9%;
    margin-left: 0%;
    }

    .ciculo{
      width: 35%;
    margin-block-end: 10%;
    }
  